
{{!-- <img src="{{image}}" /> --}}
<div class="h-full w-full flex flex-col">
    <img class="object-scale-down" src="{{image}}" />
    <div class="information">
        <h1 class="text-6xl font-normal leading-normal mt-0 mb-2 text-pink-800">{{title}}</h1>
        <p class="text-sm text-gray-500">{{site_name}}</p>
    </div>
</div>