<div class="absolute transparent w-full h-full flex flex-col place-items-center justify-center font-luckiest-guy">
    {{!-- style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"  --}}
     <div class="stroke p-4 text-center text-9xl place-items-center text-white transparent break-words drop-shadow-[0_35px_35px_rgba(0,0,0,0.25)]">
    {{text}}
    </div>
</div>

<img class="object-fit w-full h-full" src="{{url}}" />